<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>by.itechart.library.controller.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>by.itechart.library.controller.listener.ApplicationListener</listener-class>
    </listener>
    <listener>
        <listener-class>by.itechart.library.controller.listener.EmailSenderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>by.itechart.library.controller.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>Sign-up</servlet-name>
        <jsp-file>/sign-up.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sign-up</servlet-name>
        <url-pattern>/sign-up</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Index</servlet-name>
        <jsp-file>/sign-in.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/sign-in</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/sign-in.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>MainPage</servlet-name>
        <jsp-file>/WEB-INF/jsp/main-page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainPage</servlet-name>
        <url-pattern>/main-page</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BookPage</servlet-name>
        <jsp-file>/WEB-INF/jsp/book-page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookPage</servlet-name>
        <url-pattern>/book-page</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddBook</servlet-name>
        <jsp-file>/WEB-INF/jsp/add-book.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/add-book</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UsersPage</servlet-name>
        <jsp-file>/WEB-INF/jsp/users-page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersPage</servlet-name>
        <url-pattern>/users-page</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BorrowRecords</servlet-name>
        <jsp-file>/WEB-INF/jsp/borrow-records.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BorrowRecords</servlet-name>
        <url-pattern>/borrow-records</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Profile</servlet-name>
        <jsp-file>/WEB-INF/jsp/profile.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/user-page</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <jsp-file>/WEB-INF/jsp/update-profile.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/edit-profile</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/error-404.jsp</location>
    </error-page>
</web-app>
